apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- serviceaccount.yaml
- init-configmap.yaml
- envoy-configmap.yaml
- statefulset.yaml
- service.yaml

labels:
- includeSelectors: false
  pairs:
    app.kubernetes.io/managed-by: kustomize
