apiVersion: v1
kind: ServiceAccount
metadata:
  name: postgres
  namespace: demo
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: spire-demo
